body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 7%;
}

nav {
    font-size: 40px;
    background-color: #03a9f4;
    font-weight: bold;
}

h4 
{
    font-weight: bold;
}

h5
{
    font-weight: bold;
    text-align: left;
}

.desc
{
    font-weight: normal;
}

#materiais li { list-style-type: square; }

#faixaEtaria {
    font-size: 16;
}

#itens li { list-style: circle;}

.brand-logo
{
    margin: 1.5%;
}

.instrumento {
    font-weight: bold;
}

#passoApasso
{
    margin-top: 10%;
}

#xilofoneRec {text-decoration: underline;}

#labelBut {
    margin-right: 5%;
}

#botaoIdades {
    margin: 40%;
}

#login {
    margin-left: 30%;
}

#cadastrar {
    margin-top: 20%;
}

hr {
    background-color: #624dd6;
    border-color: #624dd6;
    height: 1%;
}

#music 
{
    margin-left: 3%;
    margin-top: 5%;
}

#containers {
    margin-top: 10%;
}

#collection {
    background-color: #e1f5fe;
    color: #01579b;
    margin-top: 35%;
    font-weight: bold;
}

#sobre h3
{
    font-weight: bold;
}

#imagemHome {
    margin: 5%;
    margin-top: 0%;
}

#imagemInstrumentos {
    margin: 10%;
    margin-top: 0%;
}

#containers header {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #03a9f4;
}
