body 
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main 
{
    flex: 1 0 auto;
    margin: 7%;
}

nav
{
    font-size: 40px;
    background-color: #03a9f4;
    font-weight: bold;
}

h4
{
    font-weight: bold;
}

#botaoIdades
{
    margin: 40%;
}

#login
{
    margin-left: 30%;
}

#cadastrar
{
    margin-top: 20%;
}

hr
{
    background-color: #ff7043;
    border-color: #ff7043;
    height: 1%;
    
}

#containers
{
    margin-top: 10%;
}

#collection
{
    background-color: #e1f5fe;
    color: #01579b;
    margin-top: 35%;
    font-weight: bold;
}

#imagemHome
{
    margin: 5%;
    margin-top: 0%;
}

#imagemInstrumentos
{
    margin: 10%;
    margin-top: 0%;
}

#containers header
{
    text-align: center;
    font-weight: bold;
}

footer
{
    background-color: #03a9f4;
}
