html;
{
    background-color: #9b77d9;
}

body
{
    text-align: center;
}

nav 
{
    margin: 0px;
    font-size: 18;
}
.menu
{
    font-family: Showcard Gothic, Helvetica, sans-serif;
    margin: 0px;
}

.menu ul 
{
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    margin: 0%;
}

.menu ul li {
    float: left;
    list-style: none;
}

.menu ul li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
}


.active {
    background-color: #4CAF50;
}

.menu ul li a:hover {
    color: #FF8000;
}

canvas#canvasTopo
{
    position: absolute;
    top: 850px;
    left: 10px; 
    align-content: center;
    border: 3px solid #57b2d8;
    border-radius: 80px;
    margin: 30px;
}